<div class="cocktail_page">
<div class="navbar-cocktail">
<h1 style="font-family: 'Londrina Solid', cursive; ">List of cocktails</h1>
<div style="font-family: 'Pacifico', cursive;">
  <%= link_to "Add a new cocktail", new_cocktail_path, type: "button", class: "btn btn-primary mt-2" %>
</div>
</div>



  <div class="album text-muted">
  <div class="container">
    <div class="row-index row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-sm-12 col-md-4 ">
          <div class="card-index">
            <%= cl_image_tag cocktail.photo.key, height: 315, width: 323, crop: :fill%>
            <div>
              <strong class="card-text_index" style="font-family: 'Londrina Solid', cursive; color: #0E0000 "><%= link_to cocktail.name, cocktail_path(cocktail) %></strong>
              <!--          <a href="<%#= product_path(product) %>"><%#= image_tag("picture_holder")%><a>-->
              <p><%= cocktail.description %></p>
              <div class="card-foot">
                <div class="foot edit"><i class="fas fa-edit"><%= link_to "Edit me", edit_cocktail_path(cocktail) %></i>
                </div>
                <div class="foot edit">
                  <%= link_to "Give a review", new_cocktail_review_path(cocktail) %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-md-12">
      </div>
    </div>
  </div>
</div>


<!--<p> </p>-->
<!--<p> <%#= link_to "Delete", cocktail_path(cocktail), method: :delete, data: { confirm: "You sure?" } %></p>-->
<!--style="color: #0E0000; font-family: 'Pacifico', cursive;"-->
</div>