<div class="main-wrapper">
  <h1>New cocktail</h1>


  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Let's Start</button>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New message</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= simple_form_for(@cocktail)  do |f| %>
            <%= f.input :name %>
            <%= f.input :category, :collection => %w[Alcohol Non-Alcohol] %>
            <%= f.input :description %><br>
            <%= f.input :creator, placeholder: "Please add your name" %><br>
            <%= f.input :photo, as: :file %><br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit "Confirm", class: "btn btn-primary mt-2" %>
        </div>
          <% end %>
      </div>
    </div>
  </div>

  <div class="loading">
    <span><i class="fas fa-wine-bottle"></i></span>
    <span><i class="fas fa-wine-bottle"></i></span>
    <span><i class="fas fa-wine-bottle"></i></span>
    <div class="line"></div>
  </div>
  <%#= link_to "Add a the doses", new_cocktail_dose_path(@cocktail), type: "button", class: "btn btn-primary mt-2" %>
</div>
