<div class="container">
  <h1>Cocktails#show</h1>
  <p><%= @cocktail.name %></p>
  <ul>
    <% @cocktail.doses.each do |dose| %>
      <li><%= dose.ingredient.name %> — <%= dose.description %>
        <%= link_to "Delete", dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %>
      </li>
    <% end %>
  </ul>
  <%= link_to "Add a new dose", new_cocktail_dose_path(@cocktail) %> |
  <%= link_to "Back", cocktails_path %>
</div>

<!--<div class="row">-->
<!--  <div class="col-12">-->
<!--    <div class="glide">-->
<!--      <div class="glide__track" data-glide-el="track">-->
<!--        <ul class="glide__slides">-->
<!--          <li class="glide__slide">0</li>-->
<!--          <li class="glide__slide">1</li>-->
<!--          <li class="glide__slide">2</li>-->
<!--        </ul>-->
<!--      </div>-->
<!--      <div class="glide">-->
<!--        <div class="glide__track" data-glide-el="track">...</div>-->
<!--        <div class="glide__arrows" data-glide-el="controls">-->
<!--          <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>-->
<!--          <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->