<div class='sample' id='sample'>

  <div class="show-container">
    <h1 style="text-align: center; font-family: 'Londrina Solid', cursive; font-size: 100px"><%= @cocktail.name.upcase %></h1>
    <div style="display: grid; grid-template-columns: 1fr 1fr;">
      <div class="image-container">
        <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
      </div>
      <div class="text-container">
        <div>
          <span>Category: <%= @cocktail.category %></span>
          <span>Created by: <%= @cocktail.creator %></span><br>
          <p><%= @cocktail.description %></p>
        </div>
        <div>
          <div>
            <table>
              <thead>
              <tr style="text-align: center; width: 30px">
                <th>Ingredient</th>
                <th>Doses</th>
                <th>Delete</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <% @cocktail.doses.each do |dose| %>
                  <td><%= dose.ingredient.name %></td>
                  <td><%= dose.description %></td>
                  <td>
                    <div class="foot delete">
                      <i class="fas fa-trash-alt"><%= link_to "Delete me", dose_path(dose), method: :delete, data: { confirm: "You sure?" } %></i>
                    </div>
                  </td>
                  </tr>
                <% end %>
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div>
      <div class="foot edit"><i class="fas fa-magic"><%= link_to "more doses", new_cocktail_dose_path(@cocktail) %></i></div>
      <div class="foot edit"><i class="fas fa-edit"><%= link_to "edit me", edit_cocktail_path(@cocktail) %></i></div>
      <div class="foot edit"><i class="fas fa-cocktail"><%= link_to "more cocktails", cocktails_path %></i></div>
    </div>
    <div>
      <form id="form1" runat='server'>
        <i class="fas fa-file-pdf"><input style="display: inline-block;" type="button" value="Save this recipe" onclick="javascript:printDiv('sample')"/></i>
      </form>
    </div>
  </div>
</div>




<!--Javascript function to save data inside 'sample' div -->

<script language="javascript" type="text/javascript">
  function printDiv(divID) {
    var divElements = document.getElementById(divID).innerHTML;
    var oldPage = document.body.innerHTML;

    document.body.innerHTML =
      "<html><head><title></title></head><body>" +
      divElements + "</body>";

    window.print();

    document.body.innerHTML = oldPage;
  }
</script>